@tailwind base;
@tailwind components;
@tailwind utilities;


.parent {
    position: relative;
    /* set position relative to position children */
    width: 100%;
    height: 570px;
    /* background-color: #141212; */
}

.parent>img {
    position: absolute;
    /* set position absolute to use as background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* send image behind the h1 */
}

.nav-wrapper {
    position: absolute;
    /* position relative to parent container */
    top: 20px;
    left: 24px;
    right: 24px;
    z-index: 1;
    /* place h1 above the image */
}

.content-wrapper {
    position: absolute;
    top: 15rem;
    left: 1rem;
    right: 1rem;
    z-index: 1;
}